h1 {
  color: white;
  text-shadow: 0 0 10px white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
}

h4 {
  color: white;
  text-align: center;
}

h5 {
  color: white;
  text-align: center;
}

h6 {
  color: white;
  text-align: center;
}
body {
  display: flex;
  background-color: black;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}
