* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  line-height: 1.2;
  text-align: center;
}
h1 {
  text-shadow: 0 0 10px white;
  font-size: clamp(2.5rem, 5vw, 4rem);
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.875rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
body {
  display: flex;
  background-color: black;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  flex-direction: column;
}
ul {
  padding-left: 20px;
  list-style-type: none;
}
ol {
  margin-left: 20px;
}
li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5em;
  gap: 0.5em;
}
li::before {
  content: '★';
  color: gold;
  font-size: 1.2em;
  line-height: 1;
  flex-shrink: 0;
}
/*Do not reuse .main-text-area unless you are okay with the associated javascript.*/
.main-text-area {
  width: 70%;
  font-size: 17px;
  line-height: 1.5em;
  color: black;
  border: 3px solid;
  border-radius: 8px;
  background-color: white;
  resize: none;
  overflow-y: auto;
  padding: 4px 8px;
  outline: none;
  display: block;
  margin: 30px auto;
  font-family: Inter, sans-serif;
  height: calc(3em + 10px);
  transition:
    width 0.5s,
    height 0.5s; /*Connor, I added this line so the width can expand mmore smoothly*/
}
.main-text-area:focus {
  border: 3px solid #01655c;
  width: 80%;
  height: calc(1.5em * 4 + 10px);
}
.main-text-area::placeholder {
  color: #222;
  opacity: 1;
}
.div-no-size {
  border: 1px solid gray;
  height: 0;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.messaging-text-area-container {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.messaging-text-area {
  width: 70%;
  height: 100%;
  border-radius: 5px;
  border-width: 2px;
  border-color: white;
  padding: 0 3px;
  color: black;
  background-color: #dcdcdc;
  font-size: 1rem;
  resize: none;
  outline: none;
  font-family: inter, sans-serif;
}
.messaging-text-area::placeholder {
  color: #222;
  opacity: 1;
}
.messaging-text-area-submit {
  height: 100%;
  width: 20%;
  background-color: green;
  border-radius: 5px;
}
.messaging-text-area-submit:hover {
  background-color: darkgreen;
}
.messaging-text-area-submit:active {
  background-color: lightgreen;
}
.message-bubble-outgoing {
  padding: 5px;
  height: auto;
  width: 90%;
  color: #404040;
  overflow-wrap: break-word;
  margin: 0 2% 5% 0;
  background-color: #d0efff;
  font-size: 1rem;
  min-height: 1rem;
  border-radius: 10px 10px 0 10px;
  font-family: inter, sans-serif;
  align-self: flex-end;
}
.message-bubble-incoming {
  padding: 5px;
  height: auto;
  width: 90%;
  color: #404040;
  overflow-wrap: break-word;
  margin: 0 0 5% 2%;
  background-color: #e8e8e8;
  font-size: 1rem;
  min-height: 1rem;
  border-radius: 10px 10px 10px 0;
  font-family: inter, sans-serif;
  align-self: flex-start;
}
.css-arch-underline {
  position: relative;
  display: inline-block;
}
.css-arch-underline::after {
  content: '';
  position: absolute;
  width: 140%;
  left: -14%;
  height: 70px;
  bottom: -55px;
  border-bottom: 5px solid pink;
  border-radius: 120% 70% / 70px;
  transform: rotate(0.1deg) scaleY(-1);
}
